.map-container {

  .map-view-list {
    display: none;
  }

  .gm-map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
  }

  @media (max-width: 768px) {

    .map-view-list {
      display: block;
      width: 125px;
      margin-top: 15px;
      margin-left: 15px;
      z-index: 10000;
      position: fixed;
      left: 0;

      &.animated {
        transition: top .5s;
      }
    }

    .gm-map {
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      z-index: 9000;

      &.animated {
        transition: top .5s;
      }

    }
  }

}